<div class="sidebar-right">
  <mat-icon matBadge="{{ notifications }}" id="notification">notifications</mat-icon> <!-- notifications should be fetched by a service aswell and be clickable -->

  <div class="user-info">
    <p>Benutzer</p>
    <div class="user-avatar">
      <div class="name">{{userInitials}}</div> <!-- this should be fetched by the username -->
    </div>
  </div>


  <mat-accordion class="ProjectListContainer">

    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>Projekte</mat-panel-title>
      </mat-expansion-panel-header>


      <div>
        <mat-expansion-panel class="project">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ userProject?.name }}</mat-panel-title>
          </mat-expansion-panel-header>
          <p>{{ userProject?.description }}</p>
          <p class="bold">Start Date:</p>
          <p>{{userProject?.startDate}}</p>
          <p class="bold">End Date:</p>
          <p>{{userProject?.endDate}}</p>
          <button mat-raised-button [routerLink]="['home']" class="button">Zum Projekt</button> <!-- ProjektSeite fehlt noch -->
        </mat-expansion-panel>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="user-skills">
    <mat-form-field>
      <mat-label>My Skills:</mat-label>
      <mat-chip-grid #chipGrid aria-label="Enter programming languages">
        <mat-chip-row
          *ngFor="let pl of result()"
          (removed)="remove(pl)"
          [removable]="true"
          [editable]="true"
          (edited)="edit(pl, $event)"
        >
          {{ pl.name }}
          <button matChipRemove>
            <mat-icon>close</mat-icon>
          </button>
        </mat-chip-row>
        <input
          placeholder="New language..."
          [matChipInputFor]="chipGrid"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-chip-grid>
    </mat-form-field>
  </div>

<button mat-raised-button (click)="triggerLogout()">Logout</button>
</div>
