<ng-progress/>
<div class="sidebar-right">
  <button (click)="showNotifications()" id="notification" mat-icon-button>
    <mat-icon matBadge="{{ notificationsAmount }}">notifications</mat-icon>
  </button>
  <p *ngIf="loading">initializing...</p>

  <div class="user-info">
    <p id="user-text">User</p>
    <div class="user-avatar">
      <div class="name">{{ userInitials }}</div>
    </div>
  </div>


  <mat-accordion class="ProjectListContainer" *ngIf="(userProject || userProjects.length !== 0) && !noTeamAndProject; else noProjectAvailable">
    <div *ngIf="user?.role !== UserRole.SM">
      <mat-expansion-panel class="currentProject">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ userProject?.name }}</mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{ userProject?.description }}</p>
        <p class="bold">Start Date:</p>
        <p>{{ userProject?.startDate | date }}</p>
        <p class="bold">End Date:</p>
        <p>{{ userProject?.endDate | date }}</p>
        <button [routerLink]="['/home']" class="button" mat-raised-button>Project overview</button>
      </mat-expansion-panel>
    </div>

    <div *ngIf="user?.role === UserRole.SM">
      <mat-expansion-panel class="currentProject" *ngFor="let project of userProjects">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ project.name }}</mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{ project.description }}</p>
        <p class="bold">Start Date:</p>
        <p>{{ project.startDate | date }}</p>
        <p class="bold">End Date:</p>
        <p>{{ project.endDate | date }}</p>
        <button [routerLink]="['/home']" class="button" mat-raised-button>Project overview</button>
      </mat-expansion-panel>
    </div>

  </mat-accordion>

  <div class="buttonsSidebarContainer">
  <!-- <button mat-raised-button (click)="showQrCode()" class="buttonSidebar">Toggle QR-Code</button> dieser Button gibt ein QR-code um das pdf runterzuladen. -->
    <button mat-raised-button (click)="getPdfUser()" class="buttonSidebar">Download user data</button>
    <button mat-raised-button (click)="getPdfRoadmap()" class="buttonSidebar" *ngIf="user?.role !== (UserRole.Bereichsleiter || UserRole.Admin)">Download roadmap data</button>
  </div>

  <ng-container *ngIf="QrCodeVisible">
  <qr-code [value]=getPdfUrlUser()
           errorCorrectionLevel="M" />
  </ng-container>
  <app-user-skills [user]="user" *ngIf="user?.role !== UserRole.Admin && user?.role !== UserRole.Bereichsleiter"></app-user-skills>

  <button (click)="triggerLogout()" mat-raised-button class="buttonsSidebar" id="logout">Logout</button>

  <div class="footer">
    <br>
    <p> Your Role: {{ user?.role }} </p>
  </div>
</div>
<ng-template #noProjectAvailable>
  <p>No valid project can be displayed</p>
</ng-template>
