.user-skills {
  padding: var(--content-padding);
}

::ng-deep .mdc-evolution-chip {
  background: var(--main-color) !important;
}

#Hint{
  font-size: small;
  text-wrap: wrap;
  margin-bottom: var(--content-margin);
}
