.dashboard-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--main-background);
  height: auto;
  width: auto;
  min-height: 100%;
  overflow: hidden;


  .main-content {
    overflow-y: hidden;
    width: 100%;
    box-sizing: border-box;
    margin: calc(var(--content-margin)*2);


    // Custom Scrollbar Styles
    scrollbar-width: thin; // Firefox
    scrollbar-color: #c5c5c5 #f0f0f0; // Color for Firefox

    // Everything below is UNTESTED
    // Chrome, Edge, Safari
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: #f0f0f0; // Background color
    }

    &::-webkit-scrollbar-thumb {
      background-color: #c5c5c5; // Thumb color
      border-radius: 4px; // Rounded corners for the thumb
      border: 2px solid #f0f0f0; // Adds padding around thumb
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #a3a3a3; // Darker color on hover for the thumb */
    }
  }
}


@media screen and (max-width: 1000px) {
  .dashboard-container {
    flex-direction: column; /* Stack children vertically */

    .main-content{
      margin: calc(var(--content-margin) * 2) calc(var(--content-margin) / 2);
    }
  }

}
