.dashboard-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--main-background);
  height: auto;
  min-height: 100%;
  overflow: hidden;


  .main-content {
    overflow-y: hidden;
    width: 100%;
  }
}


@media screen and (max-width: 1000px) {
  .dashboard-container {
    flex-direction: column; /* Stack children vertically */
  }
}
