.dashboard-container {
    display: grid;
    grid-template-columns: 200px minmax(0, 1fr) 200px;
    grid-template-areas: "left main right"; // Default for Desktop
    height: 100vh;
    background-color: #f0f0f0;

    .sidebar {
        grid-area: left;
        background-color: #e0e0e0;
        padding: 1rem;
      }
    
      .right-sidebar {
        grid-area: right;
        background-color: #e0e0e0;
        padding: 1rem;
      }
      
      .main-content {
        grid-area: main;
        overflow-y: auto;
        background-color: #ffffff;
        padding: 1rem;
      }

    // mobile: arrange grids right, left, main vertically
    @media (max-width: 768px) {
        grid-template-columns: 1fr;                 
        grid-template-rows: auto auto 1fr;          
        grid-template-areas:                        
          "right"                                   // Right sidebar first
          "left"                                    // Left sidebar second
          "main";                                   // Main content last
      }
  }
  
  .project-card {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #f5f9ff; // Light blue background for project cards
  }
  
  .user-info {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #cccccc;
    margin: 0 auto;
  }
  
  .user-projects button {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  