<h1 mat-dialog-title>Mitglieder von {{ data.team.name }} bearbeiten</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Neues Mitglied</mat-label>
    <input matInput [(ngModel)]="newMemberName" placeholder="Mitgliedsname" [matAutocomplete]="auto" [matAutocompleteDisabled]="newMemberName.length === 0"/>
    <mat-autocomplete #auto="matAutocomplete">
      @for (option of options; track option) {
        <mat-option [value]="option">{{option}}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <button mat-button (click)="addMember()">Hinzufügen</button>

  <mat-list>
    <mat-list-item *ngFor="let member of data.team.members">
      {{ member.vorname }} {{member.nachname}}
      <button mat-icon-button (click)="removeMember(member)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onSave()">Speichern</button>
  <button mat-button (click)="onCancel()">Abbrechen</button>
</div>


