<h1 mat-dialog-title>Edit members of {{ data.team.name }}</h1>
<div mat-dialog-content>
  <p class="team-req-status">{{ teamRequirementStatus }}</p>
  <mat-form-field>
    <mat-label>New member</mat-label>
    <input [(ngModel)]="newMemberName" [matAutocompleteDisabled]="newMemberName.length === 0" [matAutocomplete]="auto" matInput
           placeholder="Member name"/>
    <mat-autocomplete #auto="matAutocomplete">
      @for (option of options; track option) {
        <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <button (click)="addMember()" mat-button>Add</button>

  <mat-list>
    <mat-list-item *ngFor="let member of data.team.members">
      {{ member.vorname }} {{ member.nachname }}
      <button (click)="removeMember(member.id)" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</div>
<div mat-dialog-actions>
  <button (click)="onCancel()" mat-button>Cancel</button>
</div>


