<div class="arrow-navigation">
  <button mat-icon-button [routerLink]="['..']" aria-label="Go Backward">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>

<div class="form-container">
<mat-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" class="mitarbeiter-form">
      <ng-template matStepLabel>Nutzer erstellung</ng-template>
      <mat-form-field class="full-width">
        <mat-label>Vorname</mat-label>
        <input matInput formControlName="vorname" required>
        <mat-error *ngIf="firstFormGroup.get('vorname')?.hasError('required')">Vorname wird benötigt.</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Nachname</mat-label>
        <input matInput formControlName="nachname" required>
        <mat-error *ngIf="firstFormGroup.get('nachname')?.hasError('required')">Nachname wird benötigt.</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Benutzerrolle</mat-label>
        <mat-select formControlName="role" required>
          <mat-option *ngFor="let role of userRoles" [value]="role">
            {{ role }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="firstFormGroup.get('role')?.hasError('required')">Rolle wird benötigt.</mat-error>
      </mat-form-field>


      <mat-form-field class="full-width">
        <mat-label>Arbeitszeit</mat-label>
        <input matInput type="number" formControlName="arbeitszeit" required>
        <mat-error *ngIf="firstFormGroup.get('arbeitszeit')?.hasError('required')">Arbeitszeit wird benötigt.</mat-error>
      </mat-form-field>

      <!-- Single selection for non-Scrum Masters -->
      <div *ngIf="firstFormGroup.get('role')?.value !== 'SM'">
        <mat-form-field class="full-width">
          <mat-label>Select Team</mat-label>
          <mat-select formControlName="selectedSingleTeam" required>
            <mat-option *ngFor="let team of Teams" [value]="team.id">
              {{ team.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="firstFormGroup.get('selectedSingleTeam')?.hasError('required')">Mindestens ein Team ist erforderlich.</mat-error>
        </mat-form-field>
      </div>

      <!-- Multiple selection for Scrum Masters -->
      <div *ngIf="firstFormGroup.get('role')?.value === 'SM'">
        <mat-form-field class="full-width">
          <mat-label>Select Teams</mat-label>
          <mat-select formControlName="selectedMultipleTeams" multiple required>
            <mat-option *ngFor="let team of Teams" [value]="team.id">
              {{ team.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="firstFormGroup.get('selectedMultipleTeams')?.hasError('required')">Mindestens ein Team ist erforderlich.</mat-error>
        </mat-form-field>
      </div>



      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="loginFormGroup">
    <form [formGroup]="loginFormGroup" class="mitarbeiter-form">
      <ng-template matStepLabel>Login erstellung</ng-template>
      <mat-form-field class="full-width">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" required>
        <mat-error *ngIf="firstFormGroup.get('username')?.hasError('required')">Username wird benötigt.</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required>
        <mat-error *ngIf="firstFormGroup.get('password')?.hasError('required')">Password wird benötigt.</mat-error>
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-raised-button (click)="onSubmit()" [disabled]="firstFormGroup.invalid">Mitarbeiter anlegen</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
</div>
