<div class="arrow-navigation">
  <button [routerLink]="['..']" aria-label="Go Backward" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>

<div class="form-container">
  <mat-stepper #stepper [linear]="true">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" class="mitarbeiter-form">
        <ng-template matStepLabel>Nutzer erstellung</ng-template>

        <!-- Vorname -->
        <mat-form-field class="full-width">
          <mat-label>Vorname</mat-label>
          <input formControlName="vorname" matInput required>
          <mat-error *ngIf="firstFormGroup.get('vorname')?.hasError('required')">Vorname wird benötigt.</mat-error>
          <mat-error *ngIf="firstFormGroup.get('vorname')?.hasError('pattern')">Vorname darf nur Buchstaben enthalten.</mat-error>
        </mat-form-field>

        <!-- Nachname -->
        <mat-form-field class="full-width">
          <mat-label>Nachname</mat-label>
          <input formControlName="nachname" matInput required>
          <mat-error *ngIf="firstFormGroup.get('nachname')?.hasError('required')">Nachname wird benötigt.</mat-error>
          <mat-error *ngIf="firstFormGroup.get('nachname')?.hasError('pattern')">Nachname darf nur Buchstaben enthalten.</mat-error>
        </mat-form-field>

        <!-- Benutzerrolle -->
        <mat-form-field class="full-width">
          <mat-label>Benutzerrolle</mat-label>
          <mat-select formControlName="role" required>
            <mat-option *ngFor="let role of userRoles" [value]="role">
              {{ role }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="firstFormGroup.get('role')?.hasError('required')">Rolle wird benötigt.</mat-error>
        </mat-form-field>

        <!-- Arbeitszeit -->
        <mat-form-field class="full-width">
          <mat-label>Arbeitszeit</mat-label>
          <input formControlName="arbeitszeit" matInput required type="number">
          <mat-error *ngIf="firstFormGroup.get('arbeitszeit')?.hasError('required')">Arbeitszeit wird benötigt.</mat-error>
          <mat-error *ngIf="firstFormGroup.get('arbeitszeit')?.hasError('min')">Arbeitszeit muss mindestens 0 Stunden betragen.</mat-error>
          <mat-error *ngIf="firstFormGroup.get('arbeitszeit')?.hasError('max')">Arbeitszeit darf maximal 100 Stunden betragen.</mat-error>
        </mat-form-field>

        <!-- Urlaubstage -->
        <mat-form-field class="full-width">
          <mat-label>Urlaubstage</mat-label>
          <input formControlName="urlaubstage" matInput type="number" placeholder="28">
          <mat-error *ngIf="firstFormGroup.get('urlaubstage')?.hasError('pattern')">Ungültige Anzahl von Urlaubstagen.</mat-error>
        </mat-form-field>

        <!-- Single selection für Nicht-Scrum Master -->
        <div *ngIf="firstFormGroup.get('role')?.value !== 'SM'">
          <mat-form-field class="full-width">
            <mat-label>Team auswählen</mat-label>
            <mat-select formControlName="selectedSingleTeam" required>
              <mat-option *ngFor="let team of Teams" [value]="team.id">
                {{ team.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="firstFormGroup.get('selectedSingleTeam')?.hasError('required')">Mindestens ein Team ist erforderlich.</mat-error>
          </mat-form-field>
        </div>

        <!-- Multiple selection für Scrum Master -->
        <div *ngIf="firstFormGroup.get('role')?.value === 'SM'">
          <mat-form-field class="full-width">
            <mat-label>Teams auswählen</mat-label>
            <mat-select formControlName="selectedMultipleTeams" multiple required>
              <mat-option *ngFor="let team of Teams" [value]="team.id">
                {{ team.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="firstFormGroup.get('selectedMultipleTeams')?.hasError('required')">Mindestens ein Team ist erforderlich.</mat-error>
          </mat-form-field>
        </div>

        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="loginFormGroup">
      <form [formGroup]="loginFormGroup" class="mitarbeiter-form">
        <ng-template matStepLabel>Login erstellung</ng-template>

        <!-- Username -->
        <mat-form-field class="full-width">
          <mat-label>Username</mat-label>
          <input formControlName="username" matInput required>
          <mat-error *ngIf="loginFormGroup.get('username')?.hasError('required')">Username wird benötigt.</mat-error>
        </mat-form-field>

        <!-- Passwort -->
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput required type="password">
          <mat-error *ngIf="loginFormGroup.get('password')?.hasError('required')">Password wird benötigt.</mat-error>
        </mat-form-field>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Fertig</ng-template>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button (click)="onSubmit()" [disabled]="firstFormGroup.invalid || loginFormGroup.invalid" mat-raised-button>Mitarbeiter anlegen</button>
        <button (click)="stepper.reset()" mat-button>Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
