<div class="arrow-navigation">
  <button [routerLink]="['..']" aria-label="Go Backward" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>

<div class="user-delete-container">
  <h2>User overview</h2>
  <mat-card *ngFor="let user of users" class="user-card">
    <mat-card-title>{{ user.vorname }} {{ user.nachname }}</mat-card-title>
    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="deleteUser(user.id)">
        <mat-icon>delete</mat-icon> Delete
      </button>
    </mat-card-actions>
  </mat-card>
</div>
