:root {
  --sidebar-color: #e0e0e0;
  --main-background: #ffffff;
  --primary-blue: #005cbb;
  --content-padding: 20px;
  --content-margin: 10px;
  --sidebar-padding: 20px;

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }






