:root {
  --main-color: #f26c3b;
  --sidebar-color: #3b4252;// #2f4858;
  --main-background: #d8dee9; //rgba(118, 87, 144, 0.09);
  --primary-blue: #005cbb;
  --primary-green: #23C552;
  --roadmap-color: #eceff4; // #f5f5f5;
  --project-list: #eceff4; // rgba(255, 255, 255, 0.63);
  --content-padding: 20px;
  --content-margin: 10px;
  --sidebar-padding: 20px;
  --form-maxsize: 50vh;
  --admin-panelsize: 50vh;
  --box-shadow-light: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.2);
}

html, body {
  height: 100%;
  overscroll-behavior-y: none;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bold {
  font-weight: bolder;
}

.button {
  padding: var(--content-padding) !important;
}

.spinner{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonOrange{
  background: var(--main-color) !important;
  color: white !important;
  padding: var(--content-padding) !important;
}
.primaryColor{
  background: var(--sidebar-color) !important;
  color: white !important;
  padding: var(--content-padding) !important;
}
