.time-estimator-container {

  .form-group {
        display: flex;
        gap: 16px;
    }
}
@media screen and (max-width: 1000px) {
  #submitButtonTime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
