<mat-toolbar>
  <span>Admin Panel</span>
</mat-toolbar>

<div class="admin-panel-container">
  <mat-card class="admin-card">
    <mat-card-header>
      <mat-card-title>Manage employees</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="button-box">
        <button [routerLink]="['mitarbeiter-form']" mat-raised-button class="primaryColor">Add employee</button>
        <button [routerLink]="['mitarbeiter-delete']" mat-raised-button class="buttonOrange">Delete employee</button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="admin-card">
    <mat-card-header>
      <mat-card-title>Manage teams</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="button-box">
        <button [routerLink]="['teams-form']" mat-raised-button class="primaryColor">Add team</button>
        <button [routerLink]="['teams-delete']" mat-raised-button class="buttonOrange">Delete team</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
