<ng-progress
></ng-progress>

<div id="create-project-container">
  <form (ngSubmit)="onSubmit()" [formGroup]="projectForm" class="createproject-form">
    <mat-form-field class="full-width">
      <mat-label>Project Name</mat-label>
      <input formControlName="projectName" matInput placeholder="Project Name">
      <mat-error *ngIf="projectForm.get('projectName')?.hasError('maxlength')">
        Maximum 15 characters allowed.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Project Description</mat-label>
      <textarea formControlName="description" matInput placeholder="Project Description"></textarea>
      <mat-error *ngIf="projectForm.get('description')?.hasError('maxlength')">
        Maximum 50 characters allowed.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Team</mat-label>
      <mat-select formControlName="teamName" placeholder="Team" required>
        <mat-option *ngFor="let team of teams" [value]="team.id">{{ team.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button [disabled]="projectForm.invalid" mat-raised-button type="submit">Create</button>
  </form>
</div>
<div class="roadmap-container">
  <app-team-roadmap [enableDragDrop]="true" [roadmap]="roadmap" [teams]="userTeam"></app-team-roadmap>
</div>
