.admin-panel-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: var(--content-padding);
}

::ng-deep {

  .mat-mdc-card-header {
    padding: 0 !important;
  }

  .mat-mdc-card-content:last-child {
    padding: 0 !important;
  }
}

.admin-card {
  padding: var(--content-padding);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button-box {
  display: flex;
  gap: 10px;
  align-items: center;
}

.mat-toolbar {
  background: var(--sidebar-color);
  color: white;
}

@media screen and (max-width: 1000px) {
  .admin-panel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .button-box {
    flex-direction: column;
  }
}
