<div class="sidebar-left">
  <mat-action-list id="sidebar-menu">
    <mat-expansion-panel id="sidebar-panel" [expanded]="expanded">
      <mat-expansion-panel-header id="sidebar-header">
        <mat-panel-title>Menu</mat-panel-title>
      </mat-expansion-panel-header>

      <mat-list-item id="menu-item" [routerLink]="['home']" [ngClass]="{'active': activeRoute === 'home'}">
        Dashboard
      </mat-list-item>

      <mat-list-item id="menu-item" [routerLink]="['create-project']" *ngIf="user?.role === UserRole.PO">
        Create Project
      </mat-list-item>

      <mat-list-item id="menu-item" [routerLink]="['team-roadmap']" *ngIf="user?.role !== UserRole.Admin && user?.role !== UserRole.Bereichsleiter">
        Team Roadmap
      </mat-list-item>

      <mat-list-item id="menu-item" [routerLink]="['team-overview']" *ngIf="user?.role === UserRole.Admin || user?.role === UserRole.SM || user?.role === UserRole.Bereichsleiter">
        Team Overview
      </mat-list-item>

      <mat-list-item id="menu-item" [routerLink]="['admin-panel']" *ngIf="user?.role === UserRole.Admin">
        Admin Panel
      </mat-list-item>

      <mat-list-item id="menu-item" [routerLink]="['analyse-board']" *ngIf="user?.role === UserRole.SM || user?.role === UserRole.Bereichsleiter">
        Analysis Area
      </mat-list-item>

      <mat-list-item id="menu-item" [routerLink]="['urlaubs-planung']" *ngIf="user?.role !== UserRole.Admin">
        Holiday Planning
      </mat-list-item>

      <mat-list-item id="menu-item" [routerLink]="['urlaubs-overview']" *ngIf="user?.role === UserRole.Bereichsleiter">
        Holiday Overview
      </mat-list-item>
    </mat-expansion-panel>
  </mat-action-list>
</div>
