<div class="sidebar-left">
  <mat-action-list>
    <mat-expansion-panel [expanded]=expanded>
      <mat-expansion-panel-header>
        <mat-panel-title> Menu</mat-panel-title>
      </mat-expansion-panel-header>

      <mat-list-item [routerLink]="['home']">Dashboard</mat-list-item>


      <mat-list-item *ngIf="user?.role===UserRole.PO" [routerLink]="['create-project']">Projekt erstellen</mat-list-item>

      <mat-list-item [routerLink]="['team-roadmap']">Team Roadmap</mat-list-item>

      <mat-list-item>Teamplanung</mat-list-item>

      <mat-list-item *ngIf="user?.role===UserRole.Admin" [routerLink]="['admin-panel']">Admin-Panel</mat-list-item>

      <mat-list-item *ngIf="user?.role===UserRole.SM" [routerLink]="['analyse-board']">Analyse</mat-list-item>

    </mat-expansion-panel>
  </mat-action-list>


</div>
