.team-list {
  width: 300px;
  float: left;
}

mat-list-item {
  cursor: pointer;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
}
.team-overview{
  margin: calc(var(--content-margin)*2);
}
.centerCell{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.customPadding{
  padding-left: var(--content-padding);
}
mat-cell{
  padding: var(--content-padding);
}
