<div class="team-overview">
  <h1>Team Bearbeitung</h1>

  <mat-table [dataSource]="teams" class="mat-elevation-z10">
    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef>Teamname</mat-header-cell>
      <mat-cell *matCellDef="let team">{{ team.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="AnzahlTeammitglieder">
      <mat-header-cell *matHeaderCellDef>Anzahl Mitglieder</mat-header-cell>
      <mat-cell *matCellDef="let team" class="customPadding">
        <ng-container *ngIf="team.members && team.members.length > 0; else noMembers">
          {{ team.members.length }}
        </ng-container>
        <ng-template #noMembers>0</ng-template>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef class="centerCell">Edit</mat-header-cell>
      <mat-cell *matCellDef="let team" class="centerCell">
        <button (click)="openMemberDialog(team,user)" mat-button>Mitglieder bearbeiten</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
