.urlaubs-planung{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: calc(var(--content-margin)*5);
  padding: calc(var(--content-padding)*5);
}
.urlaub-anzeige{
  border: 2px rgba(242, 108, 59, 0.66) solid;
  box-shadow: var(--box-shadow-light);
  border-radius: 5px;
  padding: var(--content-padding);
  margin: var(--content-margin);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgb(242, 108, 59);
  color: white;
}
#deleteButton{
  color: white;
  background: black;
}

@media screen and (max-width: 1000px) {
  .mobile-view{
    padding-bottom: 150px;
  }
  .urlaubs-planung{
    margin-bottom: var(--content-margin);
  }
}
