.urlaubs-planung{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: calc(var(--content-margin)*5);
  padding: calc(var(--content-padding)*5);
}

@media screen and (max-width: 1000px) {
  .mobile-view{
    padding-bottom: 150px;
  }
  .urlaubs-planung{
    margin-bottom: var(--content-margin);
  }
}
