.urlaubs-planung{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: calc(var(--content-margin)*5);
  padding: calc(var(--content-padding)*5);
}
.urlaub-anzeige{
  border: 2px #2f4858 solid;
  box-shadow: var(--box-shadow-light);
  border-radius: 5px;
  padding: var(--content-padding);
  margin: var(--content-margin);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgba(47, 72, 88, 0.51);
}
#deleteButton{
  color: white;
  background: black;
}

@media screen and (max-width: 1000px) {
  .mobile-view{
    padding-bottom: 150px;
  }
  .urlaubs-planung{
    margin-bottom: var(--content-margin);
  }
}
