<ng-progress
></ng-progress>
<div class="mobile-view">
<div class="urlaubs-planung">
  <h1>Urlaub</h1>
  <div class="dates-section">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Urlaubsdaten </mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input #startDate matStartDate placeholder="Start date" (dateChange)="startDatePicker.next($event)">
          <input #endDate matEndDate placeholder="End date"  (dateChange)="endDatePicker.next($event)">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
  </div>
</div>
<ng-container *ngFor="let urlaub of urlaub$ | async">
  <app-urlaub [urlaub]="urlaub" (delete)="deleteUrlaub($event)" [mode]="'user'"></app-urlaub>
</ng-container>
</div>
