<div *ngIf="roadmap && roadmap.projects.length > 0; else noRoadmap" class="roadmap-card">
  <h2>{{ teams?.name }}</h2>

  <div class="project-list" cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="projects" [cdkDropListDisabled]="user?.role !== UserRole.PO || !notDraggableInDashboardHome"
    (cdkDropListDropped)="drop($event)">

    <div *ngFor="let project of projects;" class="project-box"
    cdkDrag
    (mousedown)="onMouseDown($event)"
    (click)="handleProjectClick($event, project)"
    [ngClass]="{ 'selected': project === selectedProject }"
         cdkDragBoundary=".roadmap-card">
      {{ project.name }}
    </div>
  </div>

  <!-- Selected Project Details -->
  <div *ngIf="selectedProject" class="project-details">
    <div class="header">
      <h3><strong>Projekt: </strong>{{ selectedProject.name }}</h3>
      <div class="status">
        <mat-form-field
          *ngIf="canEditStatus() && hideInDashboard; else displayStatus"
          appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select [(value)]="selectedProject.projectStatus" (selectionChange)="onStatusChange($event)">
            <mat-option *ngFor="let status of projectStatuses" [value]="status">{{ getStatusLabel(status)}}</mat-option>
          </mat-select>
        </mat-form-field>
        <ng-template #displayStatus>
          <p class="status-display"><strong>Status:</strong> {{ getStatusLabel(selectedProject.projectStatus) }}</p>
        </ng-template>
      </div>
    </div>

    <!-- Dates Section -->
    <div *ngIf="selectedProject.projectStatus !== ProjectStatus.offen" class="dates-section">
      <div
        *ngIf="canEditDate() && hideInDashboard; else displayDates">
        <mat-form-field appearance="outline" class="date-picker">
          <mat-label>Start Date</mat-label>
          <input [formControl]="startDateControl" [matDatepicker]="startPicker" matInput />
          <mat-datepicker-toggle [for]="startPicker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
      </div>
      <ng-template #displayDates>
        <p class="date-display"><strong>Project Start Date:</strong> {{ startDateFromBackendForCurrentProject | date }}</p>
        <p class="date-display"><strong>Project End Date:</strong> {{ endDateFromBackendForCurrentProject | date }}</p>
      </ng-template>
    </div>

    <!-- Description -->
    <div class="description">
      <p><strong>Beschreibung:</strong> {{ selectedProject.description }}</p>
    </div>

    <!-- Estimation Section -->
    <div class="estimation">
      <ng-container
        *ngIf="selectedProject.avgEstimationHours !== -1337 && selectedProject.avgEstimationHours !== -1; else errorKeineSchaetzungen">
        <p><strong>Projekt Zeitschätzung:</strong> {{ selectedProject.avgEstimationHours }} h</p>
      </ng-container>

      <!-- Render the TimeEstimatorComponent -->
      <app-time-estimator *ngIf="showTimeEstimator && user?.role === UserRole.Developer"
        [currentProject]="selectedProject" (myTimeEstimate)="updateTimeEstimate()"></app-time-estimator>

      <ng-template #errorKeineSchaetzungen>
        <p class="error-text"><strong>Projekt Zeitschätzung: </strong>Es wurden noch keine Schätzungen abgegeben.</p>
      </ng-template>
    </div>

    <div>
      <app-end-date [currentProject]="selectedProject" [currentTeam]="roadmap.teams" [startDateControl]="startDateControl"></app-end-date>
    </div>

    <!-- Action Buttons -->
    <div class="actions">
      <button *ngIf="hideInDashboard" mat-raised-button color="primary" (click)="onSubmit()" class="roadmap-button">Prioriät speichern</button>
      <button *ngIf="user?.role === UserRole.PO && hideInDashboard" mat-raised-button color="warn" (click)="onDelete()" class="roadmap-button">Delete
        Project</button>
    </div>
  </div>
</div>

<ng-template #noRoadmap>
  <p></p>
</ng-template>
