<div id="create-project-container">
  <form [formGroup]="projectForm" (ngSubmit)="onSubmit()" class="createproject-form">
    <mat-form-field class="full-width">
      <mat-label>Projekt Name</mat-label>
      <input matInput formControlName="projectName" placeholder="Projekt Name">
      <mat-error *ngIf="projectForm.get('projectName')?.hasError('maxlength')">
        Maximal 10 Zeichen erlaubt.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Projekt Beschreibung</mat-label>
      <textarea matInput formControlName="description" placeholder="Projekt Beschreibung"></textarea>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Team</mat-label>
      <mat-select formControlName="teamName" placeholder="Team" required>
        <mat-option *ngFor="let team of teams" [value]="team.id">{{ team.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button type="submit" [disabled]="projectForm.invalid">Erstellen</button>
  </form>
</div>

<div class="roadmap-container">
  <app-team-roadmap [roadmap]="roadmap" [enableDragDrop]="true"></app-team-roadmap>
</div>
