<div class="modal">
  <h2>{{ user?.vorname }} {{ user?.nachname }}</h2>
  <strong>Role:</strong>
  <p>{{ user?.role }}</p>
  <div><strong>Skills:</strong>
    <ul>
      <li>
        <ng-container *ngFor="let skill of user?.skills">
          <p>{{ skill.name }}</p>
        </ng-container>

      </li>
    </ul>
  </div>
  <ng-container *ngIf="isAdmin && user?.role===UserRole.Developer">
    <label for="arbeitszeit">Working hours (in hours):</label>
    <input
      [ngModel]="arbeitszeit | async"
      (ngModelChange)="updateArbeitszeit($event)"
      id="arbeitszeit"
      max="100"
      min="0"
      name="arbeitszeit"
      placeholder="Enter working time in hours"
      type="number"
    />
  </ng-container>
  <p><strong>Working hours:</strong> {{ arbeitszeit?.value }} </p>
  <p><strong>Holiday days:</strong> {{ user?.urlaubstage }} </p>
  <p><strong>Teams:</strong></p>
  <ul>
    <li *ngFor="let team of teams">
      {{ team.name }}
    </li>
  </ul>
  <div id="modalButton">
    <button (click)="closeModal()" mat-raised-button>Close</button>
  </div>
</div>
