.unauthorized-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(var(--content-margin)*20);
}

.unauthorized-content{
  max-width: 50%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 2rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.unauthorized-content h1 {
  font-size: 6rem;
  margin: 100px;
  color: #ffddc1;
}

.unauthorized-content p {
  margin: 10px;
  font-size: 1.2rem;
}

.back-home {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background: #ff7e5f;
  text-decoration: none;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.back-home:hover {
  background: #feb47b;
}

@media screen and (max-width: 1000px) {
  .unauthorized-container {
    margin: 0;
  }

  .unauthorized-content{
    width: 70%;
    height: 70%;
    margin: calc(var(--content-margin)*3);
  }

  .unauthorized-content h1 {
    font-size: 3rem;
    margin: 50px;
  }

  .unauthorized-content p {
    margin: 5px;
    font-size: 1rem;
  }
}
