<div class="login-container">
  <div class="login-card">
    <img src="/assets/logo.png" alt="ProSquadra Logo" class="logo" />
    <h2>ProSquadra</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Benutzername</mat-label>
        <input matInput formControlName="username" placeholder="Benutzername">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Passwort</mat-label>
        <input matInput formControlName="password" placeholder="Passwort" type="password">
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Anmelden</button>
    </form>
  </div>
</div>