<div class="login-container">
  <div class="spinner">
    <app-spinner></app-spinner>
  </div>
  <div class="login-card">
    <img alt="ProSquadra Logo" class="logo" height="800" ngSrc="/logo.png" priority width="800"/>
    <h2>ProSquadra</h2>

    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">

      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput placeholder="Username">
        <mat-error *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
          Username is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput placeholder="Password" type="password">
        <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          Password is required.
        </mat-error>
      </mat-form-field>

      <button [disabled]="loginForm.invalid" color="primary" mat-raised-button type="submit">
        Login
      </button>
    </form>
  </div>
</div>
