<div id="UserTable">
  <h2>Team Übersicht</h2>
  <table [dataSource]="user" class="mat-elevation-z10" mat-table>

    <ng-container matColumnDef="userVorname">
      <th *matHeaderCellDef mat-header-cell> Vorname</th>
      <td *matCellDef="let user" mat-cell>
        {{ user.vorname }}
      </td>
    </ng-container>

    <ng-container matColumnDef="userNachname">
      <th *matHeaderCellDef mat-header-cell> Nachname</th>
      <td *matCellDef="let user" mat-cell>
        {{ user.nachname }}
      </td>
    </ng-container>

    <ng-container matColumnDef="skills">
      <th *matHeaderCellDef mat-header-cell> Skills</th>
      <td *matCellDef="let user" mat-cell>
        <app-skill-overview [userSkills]="user.skills"></app-skill-overview>
      </td>
    </ng-container>

    <ng-container matColumnDef="workHours">
      <th *matHeaderCellDef mat-header-cell> Arbeitszeit</th>
      <td *matCellDef="let user" mat-cell>
        <app-arbeitszeit-overview [currentUser]="currentUser" [user]="user"></app-arbeitszeit-overview>
      </td>
    </ng-container>

    <ng-container matColumnDef="vacationDays">
      <th *matHeaderCellDef mat-header-cell> Urlaubstage</th>
      <td *matCellDef="let user" mat-cell>
          {{ user.urlaubstage}}
      </td>
    </ng-container>

    <ng-container matColumnDef="teamPlanning">
      <th *matHeaderCellDef mat-header-cell> Team</th>
      <td *matCellDef="let user" mat-cell>
        <app-team-planung [user]="user"></app-team-planung>
      </td>
    </ng-container>

    <ng-container matColumnDef="modal">
      <th *matHeaderCellDef mat-header-cell> Details anzeigen</th>
      <td *matCellDef="let user" mat-cell>
        <button (click)="openModal(user,currentUser)" id="modalButton" mat-button>Details anzeigen</button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
</div>


