#UserTable {
  margin: calc(var(--content-margin) * 2);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px 16px;
  text-align: left;
  font-size: 14px;
}

th {
  font-weight: bold;
}


.mat-column-modal {
  display: none;
}

// damit auf mobile die Tabelle nicht zu breit ist. Ich würde hier stattdessen auf 2 Tabellen gehen und die 2. nur rendern on mobile
@media (max-width: 1200px) {
  .mat-column-skills,
  .mat-column-teamPlanning,
  .mat-column-workHours,
  .mat-column-vacationDays,
  {
    display: none;
  }
  .mat-column-modal {
    display: table-cell;
  }
  #modalButton {
    padding: var(--content-padding);
  }
}
