#snackbarButton{
  font-size: smaller;
  padding-left: var(--content-padding);
  color: red;
}
.SnackbarContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
