<ng-container *ngIf="currentUser?.role===UserRole.Admin && user?.role===UserRole.Developer ||currentUser?.role===UserRole.Bereichsleiter && user?.role===UserRole.Developer">
  <label for="arbeitszeit">Arbeitszeit (in Stunden):</label>
  <input
    (change)="updateArbeitszeit()"
    [(ngModel)]="arbeitszeit"
    id="arbeitszeit"
    max="100"
    min="0"
    name="arbeitszeit"
    placeholder="Arbeitszeit in Stunden eingeben"
    type="number"
  />
</ng-container>

<p>{{ user?.arbeitszeit }}</p>
