<div class="spinner">
  <app-spinner></app-spinner>
</div>
<ng-container *ngIf="userTeams.length>0; else noTeams">
<div>
  <app-team-roadmap (dataUpdated)="refetch()" *ngIf="roadmap" [enableDragDrop]="isPo" [estimatableDEV]="isDev" [teams]="currentTeam"
                    [roadmap]="roadmap"></app-team-roadmap>
</div>
<div *ngIf="roadmaps.length > 0">
  <div *ngFor="let roadmap of roadmaps">
    <div [@slideIn]>
    <app-team-roadmap (dataUpdated)="refetch()" *ngIf="roadmap" [roadmap]="roadmap" [teams]="roadmap.teams"
                      [setTimeScrum]="isScrum"></app-team-roadmap>
    </div>
  </div>
</div>
</ng-container>
<ng-template #noTeams>
  <h3>{{errorMessageNoTeams}}</h3>
</ng-template>
